<html>
    <head>
        <link rel="stylesheet" href="styles.css">
    </head>
    
    <body>
        <a 
            href="http://localhost:8080/">Home
        </a>
        <br>
        <a 
            href="http://localhost:8080/listtasks">List All Tasks
        </a>
        <br> <br>
        <form action="/newtask" method="POST"> 
            Task Name <input type="text" name="name"/> <br> <br>
            Task Due <input type="date" name="due"/> <br> <br>
            Task Desc <input type="text" name="desc"/> <br> <br>
            <button>Submit</button>
        </form>

    </body>
</html>